
<div class = wide-container zone-marquee-blue zone-marquee-small>
    <div class ="container">
        <div class = "marquee-content">
            <h1>Help Center</h1>
        </div>
    </div>
</div>
<div class = "wide-container zone-global-cta">
    <div class ="container">
        <ul class = "global-cta-tabs">
            <li>
                Find a 
                <strong>Route</strong>
            </li>
            <li>
                Get a 
                <strong>Quote</strong>
            </li>
            <li>
                Request a 
                <strong>Pickup</strong>
            </li>
            <li>
                Track a 
                <strong>Shipment</strong>
            </li>
        </ul>
    </div>
</div>

