.related-pages {
    overflow: hidden;
    margin: 25px -22px;
    padding: 20px 22px;
    background: #004785;
    background-image: -webkit-gradient(radial,45px 45px,0,45px 45px,500,color-stop(2%,#4b7da9),color-stop(100%,#004785));
    background-image: -webkit-radial-gradient(45px 45px,#4b7da9 10px,#004785 500px);
    background-image: -moz-radial-gradient(45px 45px,#4b7da9 10px,#004785 500px);
    background-image: -o-radial-gradient(45px 45px,#4b7da9 10px,#004785 500px);
    background-image: radial-gradient(45px 45px,#4b7da9 10px,#004785 500px);
    color: #fff;
}
.related-pages a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 1em;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-size: 1.6rem;
    line-height: 2rem;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
h1,.row  {
    font-family: Quadon-Black,serif;
    font-weight: 800;
    font-style: normal;
    margin-left: 200px;
    margin-right: 200px;
}
